{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('page_index') }}">Pages</a></li>
                <li>Modification</li>
            </ol>
            <h1>Modification de page</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
        {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </section>
</main>
{% endblock %}
