<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Blog</h2>
            <p>Actualités sur l'emploi et l'handicap</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <div class=""><img src="{{ asset('assets/img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt="" width="200px"></div>
                    <div class="member-info">
                        <h4>Vacances pour les enfants en situation de handicap : Loisirs pluriel</h4>
                        <span>Handicap</span>
                        <p>Bien que faisant partie d’un réseau national, l’antenne Loisirs Pluriel de Fontaine (38) a été mise en place par une maman bien déterminée à offrir à l’un de ses trois enfants en situation de handicap</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="{{ asset('assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="" width="200px"></div>
                    <div class="member-info">
                        <h4>Une étude sur les aidants pour faire le point et anticiper l’avenir</h4>
                        <span>Social</span>
                        <p>Bien que faisant partie d’un réseau national, l’antenne Loisirs Pluriel de Fontaine (38) a été mise en place par une maman bien déterminée à offrir à l’un de ses trois enfants en situation de handicap</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                    <div class=""><img src="{{ asset('assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="" width="200px"></div>
                    <div class="member-info">
                        <h4>Le non-dit dans la relation d’aidant : L’analyse de Catherine Sanchès</h4>
                        <span>Emploi</span>
                        <p>Bien que faisant partie d’un réseau national, l’antenne Loisirs Pluriel de Fontaine (38) a été mise en place par une maman bien déterminée à offrir à l’un de ses trois enfants en situation de handicap</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <div class=""><img src="{{ asset('assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt="" width="200px"></div>
                    <div class="member-info">
                        <h4>Deuil d’un enfant : Une bande dessinée pour aider à le traverser</h4>
                        <span>Accountant</span>
                        <p>Bien que faisant partie d’un réseau national, l’antenne Loisirs Pluriel de Fontaine (38) a été mise en place par une maman bien déterminée à offrir à l’un de ses trois enfants en situation de handicap</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
