<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Trouvez les compétences dont vous avez besoin</h2>
        </div>

        <div class="row content">
            <p>Nous vous donnons la possibilité d'accéder à un vivier de compétences. Notre réseau de partenaires vous aideront à exploiter les ressources humaines et professionnelles des travailleurs handicapés, dont la plupart ne nécessite aucun aménagement de poste.</p>
        </div>

    </div>
</section><!-- End About Us Section -->