<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="{{ asset('assets/img/skills.png') }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Les + de Handi-cv.com</h3>
                <p class="fst-italic">
                    Notre présence sur le web vous permet une visibilité constante.
                </p>

                <div class="skills-content">

                    <div class="progress">
                        <span class="skill">Présentation chartée de votre mission handicap</span>
                    </div>
                    <div class="progress">
                        <span class="skill">Présence de votre entreprise/vos offres sur les médias sociaux</span>
                    </div>
                    <div class="progress">
                        <span class="skill">Positionnement naturel du site en première page des moteurs de recherche</span>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section><!-- End Skills Section -->
