<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Offres</h2>
            <p>Plusieurs formules adaptables pour mieux recruter</p>
        </div>

        <div class="row">
            {% for offre in modeles %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>{{ offre.name }}</h3>
                    <h4><sup>$</sup>{{ offre.prix }}<span>par mois</span></h4>
                    <ul>
                        <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                        <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                    </ul>
                    <a href="{{ path('offre_show', {id: offre.id}) }}" class="buy-btn">Choisir</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Pricing Section -->