<div class="row justify-content-center col-lg-6 mx-auto">
    <div class="row m-2">
        <input type="search" class="form-control rounded" placeholder="Saisissez vos mots clés(cvthèque)" aria-label="Search" aria-describedby="search-addon" />
        <input type="search" class="form-control rounded" placeholder="Ville" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
</div>