<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        {#<div class="section-title">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>#}

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="{{ path('access_register') }}">Dépôt de CV</a></h4>
                    <p>Enregistrez votre profil et informez votre RQTH et votre potentiel aux recruteurs handi-engagés.</p>
                    <a href="#" class="btn btn-outline-info btn-sm mt-2">Je dépose mon CV</a>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="{{ path('annonces_show_all') }}">+2000 offres d'emploi</a></h4>
                    <p>Parcourez et filtrez les opportunités d'emploi par secteur, région et entreprise.</p>
                    <a href="#" class="btn btn-outline-info btn-sm mt-2">Je consulte les offres</a>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Conseils carrière</a></h4>
                    <p>Consultez nos conseils pour concilier emploi et handicap dans votre carrière professionnelle.</p>
                    <a href="#" class="btn btn-outline-info btn-sm mt-2">Je lis les conseils</a>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Alerte email</a></h4>
                    <p>Recevez des notifications par email sur des abonnements liés au contenu ou à une recherche d'emploi.</p>
                    <a href="#" class="btn btn-outline-info btn-sm mt-2">Je crée mon alerte</a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->