{% extends 'base-recruteur.html.twig' %}

{% block title %}Recrutez des personnes handicapées avec HandiCV{% endblock %}

{% block body %}
    <main>
        {{ include('home/_clients.html.twig') }}
        {{ include('home/_services.html.twig') }}
        {{ include('home/_annonces.html.twig') }}
        {{ include('home/_actualités.html.twig') }}
    </main>

{% endblock %}
