<form method="post" action="{{ path('modele_offre_commerciale_delete', {'id': modele_offre_commerciale.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce modèle?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modele_offre_commerciale.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
