{% for label, messages in app.flashes %}
    <section class="container message-flash">
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <p class="text-center font-weight-bold">
                    {{ message|raw }}
                    {% if label is same as("success") %}&#x1F44D;
                    {% elseif label is same as("error") %}&#x1F6A7;
                    {% elseif label is same as("notice") %}&#x064c9;
                    {% elseif label is same as("warning") %}&#x1F6A7;
                    {% endif %}
                </p>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </section>
{% endfor %}