<div class="col-3" id="annuaire-{{ annuaire.id }}">
    <div class="d-flex justify-content-between section-bg p-2 m-1">
        <a href="{{ path('annuaire_show_unit', {slug:annuaire.slug}) }}">{{ annuaire.title }}</a>
        <p style="font-size: 10px; text-align: right">
            {% for cat in annuaire.categorie %}
                {{ cat.value }}<br>
            {% endfor %}
        </p>
    </div>
</div>