{% extends 'base.html.twig' %}
{% block title %}Annuaire{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Annuaire</li>
                </ol>
                <h1>Tout l'annuaire</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container js-filter">
                <div class="row">
                    <div class="col-md-3">
                        {% include 'search/filtrer_annuaire.html.twig' with {form: form} only %}
                    </div>
                    <div class="col-md-9">
                        <div class="row js-filter-content">
                            {% include 'annuaire/_annuaires.html.twig' %}
                        </div>
                        <div class="mt-4 js-filter-pagination">
                            {% include 'annuaire/_pagination.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <style>
        .grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        .filter{
            display: block;
            position: sticky;
            top: 20px;
        }
    </style>
{% endblock %}





