{% form_theme form _self %}
{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form) }}
            {{ form_row(form.message) }}
        </div>
    </div>
    <input type="submit" value="Envoyer" class="bouton solid" />
</div>
{{ form_end(form, {'render_rest': false}) }}
