{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li>Annonce</li>
            </ol>
            <h1>Modification d'annonce</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            {{ include('annonce/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </section>
</main>
{% endblock %}
