{% extends 'base.html.twig' %}
{% block title %}Offres d'emploi | Recherche avancée{% endblock %}
{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><i class="bi bi-house"></i><a href="{{ path('app_home') }}"> Home</a></li>
                    <li>Offres d'emploi</li>
                </ol>
                <h1>Ma selection d'offres</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="grid">
                        {% include 'annonce/_annonces.html.twig' %}
                    </div>
                    <div class="mt-4 js-filter-pagination">
                        {% include 'annonce/_pagination.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <style>
        .grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        .filter{
            display: block;
            position: sticky;
            top: 20px;
        }
    </style>
{% endblock %}



