<div class="list-group"><a class="list-group-item list-group-item-action active" href="{{ path('entreprise_show', {slug: entreprise.slug}) }}">Informations générales</a></div>
{% if is_granted('ROLE_SUPER_RECRUTEUR') %}
    <div class="list-group"><a class="list-group-item list-group-item-action" href="{{ path('entreprise_recruteurs', {id: entreprise.id}) }}">Recruteurs</a></div>
{% endif %}
<div class="list-group"><a class="list-group-item list-group-item-action" href="{{ path('entreprise_offres_commerciales', {id: entreprise.id}) }}">Offres commerciales</a></div>
{% if is_granted('ROLE_SUPER_RECRUTEUR') %}
    <div class="list-group"><a class="list-group-item list-group-item-action" href="{{ path('entreprise_factures', {id: entreprise.id}) }}">Factures</a></div>
{% endif %}