{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Offres d'emploi</li>
                </ol>
                <h1>Toutes les offres d'emploi</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                {% for entreprise in entreprises %}
                    <div class="border mb-2 p-2">
                        <h2><a href="{{ path('entreprise_show_unit', {id:entreprise.id, slug:entreprise.slug}) }}">{{ entreprise.name }}</a></h2>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}





