<form method="post" action="{{ path('dictionnaire_delete', {'id': dictionnaire.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dictionnaire.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
