{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Admininstration</h1>
        <p class="lead">Interface d'administration de HandiCV</p>
    </div>

{% endblock %}