<form method="post" action="{{ path('agenda_delete', {'id': agenda.id}) }}" onsubmit="return confirm('confirmer la suppression de cette annonce');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agenda.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
