{% extends 'base.html.twig' %}

{% block title %}Agenda | Nouveau{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('agenda_index') }}">Evénements</a></li>
                    <li>Création</li>
                </ol>
                <h2>Nouvel évenement</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="col-md-12">
                    {{ include('agenda/_form.html.twig') }}
                </div>

            </div>
        </section>
    </main>
    {% include 'agenda/_script.html.twig' %}
{% endblock %}



