{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Agenda</li>
                </ol>
                <h1>Tous les événements</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                {% for agenda in agendas %}
                    <h2><a href="{{ path('agenda_show_unit', {id:agenda.id, slug:agenda.slug}) }}">{{ agenda.title }}</a></h2>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}





