<h1>Hi!</h1>
<p>A request to reset the password has been made</p>
<p>To reset your password, please visit the following link</p>
<p>Click on this link within 15 minutes to reset your password :
    <a href="{{ absolute_url(path('app_retrieve_credentials', {'id': user.id, 'token': user.forgotPasswordToken}
    )) }}">Reset password</a></p>
<p>After this period.  It will no longer be valid and you will have to renew the application.</p>

<img src="{{ email.image('@images/logo.png') }}" alt="footer email">
