{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading...</span>
    </div>
    {{ form_row(form.q) }}
    <h5 class="mt-1">Trier pars secteur</h5>
    {{ form_row(form.secteur) }}
    <button type="submit" class="btn-sm btn-primary mt-1">Filter</button>
{{ form_end(form) }}