{{ form_start(form) }}
    {{ form_row(form.q) }}
    <p class="mt-3">Par entreprise</p>
    {{ form_row(form.entreprises) }}
<button type="submit" class="btn-sm btn-primary mt-1">Filter</button>
{{ form_end(form) }}