fieldset.sweet-candy
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
a{
  text-decoration: none !important;
}
.filter-custom {
  display: block;
  position: sticky;
  top: 20px;
}

.alert {
  text-align: center;
  z-index: 999;
  position: absolute !important;
  width: 100%;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.filtrer{
  display: block;
  position: sticky;
  top: 20px;
}

.is-loading::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: .5;
  z-index: 4;
}

.is-loading .spinner-border{
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 5;
}
.badge-danger{
  background-color: red !important;
}

/*Swup*/
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* remove autocomplete highlight */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}
@-webkit-keyframes autofill {
  0%,100% {
    color: #666;
    background: transparent;
  }
}

/* remove background when autofill input css */
input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
