<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% include 'layouts/css.html.twig' %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>