<div class="col"><div class="p-3 border bg-light "><a href="{{ path('messages_received') }}">Messages ({{ app.user.received|length }})</a></div></div>
{#<div class="col"><div class="p-3 border bg-light "><a href="{{ path('messages_read') }}">Vues</a></div></div>#}
