{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre commerciale{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('offre_index') }}">Offres commerciales</a></li>
                <li>Création</li>
            </ol>
            <h1>Création d'une offre commerciale</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            {{ include('offre/_form.html.twig') }}
        </div>
    </section>
</main>
{% endblock %}
