<div class="col"><div class="p-3 border bg-light "><a href="{{ path('facture_index') }}">Factures</a></div></div>
<div class="col"><div class="p-3 border bg-light "><a href="{{ path('facture_a_payer_index') }}">Factures à payer </a></div></div>
<div class="col"><div class="p-3 border bg-light "><a href="{{ path('facture_payees_index') }}">Factures payées</a></div></div>
<div class="col"><div class="p-3 border bg-light "><a href="{{ path('facture_critiques_index') }}">Factures critiques</a></div></div>