{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('entreprise_index') }}">Entreprises</a></li>
                    <li>Répértoire</li>
                </ol>
                <h1>Modification du mot de passe</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">

                {% for message in app.flashes('error') %}
                    <div class="col-xs4">
                        <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
                    </div>
                {% endfor %}

                <form class="sign-in-form" method="post">
                    <div class="row align-items-center gx-3">
                        <div class="col-auto">
                            <div class="app-icon-holder">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                    <path d="m10.277 5.433-4.031.505-.145.67.794.145c.516.123.619.309.505.824L6.101 13.68c-.34 1.578.186 2.32 1.423 2.32.959 0 2.072-.443 2.577-1.052l.155-.732c-.35.31-.866.434-1.206.434-.485 0-.66-.34-.536-.939l1.763-8.278zm.122-3.673a1.76 1.76 0 1 1-3.52 0 1.76 1.76 0 0 1 3.52 0z"/>
                                </svg>
                            </div><!--//icon-holder-->

                        </div><!--//col-->
                        <div class="col-auto">
                            <h4 class="app-card-title">Vous êtes sur le point de modifier votre mot de passe</h4>
                        </div><!--//col-->
                    </div><!--//row-->
                    <div class="input-field">
                        <i class="bi bi-at"></i>
                        <input type="password" placeholder="Mot de passe actuel" id="oldPass" name="password" required autofocus/>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-at"></i>
                        <input type="password" placeholder="Nouveau mot de passe" id="pass" name="password" required autofocus/>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-at"></i>
                        <input type="password" placeholder="Confirmation du mot de passe" id="pass2" name="password2" required autofocus/>
                    </div>
                    <button class="bouton solid">Valider</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
