{% extends 'base.html.twig' %}

{% block title %}{{ app.user.fullname|capitalize }} | Profile{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Dashboard</li>
                </ol>
                <h1>Tableau de bord</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% include('layouts/_dash_sidebar.html.twig') %}
                    </div>
                    <div class="col-md-9">
                        {% if app.user.isSuperAdmin() %}
                            {% include('user/_board_superAdmin.html.twig') %}
                        {% endif %}
                        {% if app.user.isSuperRecruteur() %}
                            {% include('user/_board_superRecruteur.html.twig') %}
                        {% endif %}
                        {% if app.user.isRecruteur() %}
                            {% include('user/_board_recruteur.html.twig') %}
                        {% endif %}
                        {% if app.user.isCandidat() %}
                            {% include('user/_board_candidat.html.twig') %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}