{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('offre_index') }}">Recruteurs</a></li>
                    <li>Modification</li>
                </ol>
                <h2>Modification d'un recruteur</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                {{ include('user_creation/_form.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
